@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    src: url('/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    src: url('/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
}